*{
    color:black;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
	color: var(--text-color);
	background: url(https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80)  no-repeat center center fixed; 
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#121212;
}
a: hover{
    color: white;
}
.nav-item {
    text-decoration: none;
    font-weight: 500;
}
.navbar-brand{
    color:red;
}
.hero{
    height: 100vh;
    color: white;
}
#my-name{
font-size: 50px;
padding-top:35vh;
}
.portfolio,.about,.contacto,.process,.reasons{
    padding-top:5vh;
}
.contacto{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10vw 0px;
}
.btnsubmit{
    width:100%;
}
.form-control {
  border: 0;
  outline: 0;
}
.card:hover{
    transform: scale(1.05);
}
.icon{
font-size: 30px;
margin-top:30vh;
font-weight: 100;
}
.contact-info{
    font-weight: 200;
    font-size: 2.5vw;
    padding-bottom: 10vh;
}

.submit-text{
    font-weight: 600;
    font-size:20px;
}
.btn-submit:hover{
    background-color: black;
    color:white;
}
.person{
    width: 500px;
    padding-top:30px;
    padding-left:70px;
}
.about-intro{
    font-size:90px;
}
.about-text{
    font-size:20px
}
.about-text{
    font-weight:400;
}
.about-icon{
    font-size:35px;
    text-align: center;
    align-self: center;
}
.link{
    text-decoration: underline;
    font-weight: 400;
    color: white;
}
.submit-text:hover{
    transform: translateY(-5px);
}
.portfolio, .reasons, .process, .about{
    background-color: rgba(255, 255, 255, 0.9);
}
.process{
    margin-bottom: 25vh;
    padding-bottom: 50px;
}

#link{
    cursor: pointer;
    color: white;
}
#btnCopy{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.cta{
    color: white;
    text-decoration: underline;
    font-weight: 400;
}
.cta:hover{
    color: white;
}

.header{
    transition: all 0.4s ease;
}
.header.sticky{
  background: #f0f0f0;
  position: fixed;
  width: 100%;
  padding: 10px 40px;
  top: 0;
  transition: all 0.4s ease;
  box-shadow: 0px 1px 15px rgb(0 0 0 / 10%);
  z-index: 100;
}
.text-center a.sticky{
    color: black;
}
#nav1,#nav2,#nav3,#nav4{
    color: white;
    padding: 10px;
    text-decoration: none;
    background: none;
    border-bottom: 3px solid transparent;
    left: 50%;
    right: 0;
}

#nav4{
    color: black;
    background: white;
}
#nav4.sticky{
    color: white;
    background: #121212;
}
#nav1.sticky,#nav2.sticky,#nav3.sticky{
    color: black;
}
#nav1.sticky:hover,#nav2.sticky:hover,#nav3.sticky:hover{
    color: black;
    border-bottom: 3px solid black;
}

#nav1:hover,#nav2:hover,#nav3:hover{
    border-bottom: 2px solid white;
    left: 0%;
}
/* (A) HORIZONTAL MENU ON BIG SCREEN */
#iconNav { display: flex; }
#iconNav a { width: 100%; }

/* (B) SMALL SCREEN - LARGE ICON SMALL TEXT */
@media only screen and (max-width: 768px) {
  #iconNav a { text-align: center; }
  #iconNav i {
    display: block;
    font-size: 2em; 
  }
 
}
